.top-box-product{
    background-color:#ffffff;
}
.box-shadow-none{
    box-shadow:None
}
.width-height-100{
    width:100%;
    height:100%;
}
.tabdes {
    color:#7d7d7d;
    font-family: inherit
    ;font-size: 16pt;
    margin-right:10px;
    cursor:pointer
}
span.tabdes:hover{
    border-bottom:2px solid #555555;
    color:#555555;
}
#desc-content{
    font-size:12pt;
    font-family:Arial;
    color:black
}
button.btn-buy:hover{
    background-color:#125f2a;
}
.btn-buy{
    margin-left:4%;
    width:90%;
    height:60px;
    font-size:16pt;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    margin-top:30px;
    background-color:#32b259;
}
#img-style{
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
#img-design{
    width:50px;
    height:60px
}
#img-front-behide{
    width:50px;
    height:50px;
    position:absolute;
    right:5px;
    bottom:5px;
    cursor:pointer
}
#product_title{
    line-height: 1.2em;
    font-size: 24pt;
    margin: 0 0 1.66667rem 0;
    text-align: left;
    font-family:Arial;
    color:black
}
#content-region{
    width:100%;
    background-color:rgba(134, 185, 178, 0.21)
}
.collection-title{
    margin-top:10px;
    margin-left:20px;
    font-size:16pt;
    color:#000000
}
#product_style{
    font-size:16pt;
    margin-top:10px;
    margin-left:4%;
    margin-right:4%;
    width:90%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right .3rem top 50%;
    background-size: 14px 16px
}
#color_region{
    width:100%;
    height:50px;
    margin-left:20px
}